* {
  margin: 0;
  padding: 0;
  font-family: "Metal Mania";
}

#lng-main {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  gap: 0px;
}

#lng-bg {
  width: 57.75rem;
  height: 57.96rem;
  position: relative;
  top: -12rem;
  flex-shrink: 0;
  background: url("assets/lng_bg.svg") 50% / cover no-repeat, lightgray;
  background-blend-mode: exclusion;
  background-size: cover;
  image-rendering: auto;
  flex-direction: column;
  gap: 5px;
}

.lng-steps {
  width: 16.4375rem;
  height: 19.1875rem;
  flex-shrink: 0;
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 200ms ease-in-out;
}

.lng-steps:hover {
  transform: scale(1.1);
}

#step3 {
  position: relative;
  left: 39.19rem;
  top: -229px;
}

#step1 {
  position: relative;
  left: 1.56rem;
  top: 21.88rem;
}

#step2 {
  position: relative;
  left: 20rem;
  top: 12.38rem;
}

#step1-img {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("assets/step-1.png");
  top: 55%;
  left: 65%;
}

#step2-img {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("assets/step-2.png");
  top: 55%;
  left: 65%;
}

#step3-img {
  position: relative;
  width: 100px;
  height: 100px;
  background-image: url("assets/step-3.png");
  top: 55%;
  left: 65%;
}

#next-img {
  background-image: url(/src/assets/lng/next.svg);
  background-size: cover;
  width: 6rem;
  height: 6rem;
  position: relative;
  top: -163px;
  left: 54px;
  transition: transform 200ms ease-in-out;
}

#next-img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#lng-webcam {
  display: block;
}

#lng-webcam-bg {
  flex-shrink: 0;
  border-radius: 10%;
  background: url("assets/lng/lng_webcam.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 535px;
  position: relative;
  height: 645px;
  top: 34px;
  left: 37px;

  display: flex;
}

#lng-webcam-bg h1 {
  position: relative;
  left: 14.94rem;
  top: 3.94rem;
  width: 4.25rem;
  height: 7.5625rem;
  flex-shrink: 0;

  color: #fff;
  font-family: "Metal Mania";
  font-size: 6.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#lng-back-btn {
  position: relative;
  left: 3rem;
  top: 14rem;
  width: 2rem;
  height: 2.8125rem;
  flex-shrink: 0;
  background-image: url("assets/left_arrow.png");
  background-size: cover;
  transition: 200ms transform ease-in-out;
}

#lng-back-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
